html {
  border: 0cap;
  margin: 0cap;
  padding: 0cap;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  border: 0cap;
  margin: 0cap;
  padding: 0cap;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #333333;
  line-height: 1.6;
}